# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# add by CT-Hung
*~
*.bag
*.pcd
*.png
*.pyc
*.swp
*.swo
*.moos++
*.urdf
*.xacro
MOOSLog*
catkin_ws/build/
catkin_ws/install/
catkin_ws/devel/
catkin_ws/.catkin_workspace
build/*
lib/*
bin/*
*.vscode
*.caffemodel

# others
*.DS_Store